spring:
  profiles:
    active: dev  # 默认使用开发环境
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

server:
  port: 8080
  servlet:
    context-path: /api

# 禁用SpringDoc/Swagger
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false